


<h2>Travel Info</h2>

<form>
  <div class="form-group">
  <label for="exampleFormControlInput1">Origination:</label><br>
  <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="origination" name="origination"><br>
  </div>

  <div class="form-group">
  <label for="Destination">Destination:</label><br>
  <input type="text" class="form-control" id="destination" [(ngModel)]="destination" name="destination"><br>
  </div>

  <div class="form-group">
  <label for="date">Date:</label><br>
  <input type="Date" class="form-control" id="date" [(ngModel)]="date" name="date"><br>
  </div>

  <div class="form-group">
  <label for="quant">Number of Travelers:</label><br>
  <input (click)="recalc()" class="form-control" id="quant" type="number" [(ngModel)]="quant" name="quant"><br>
  </div>
</form>

<p>The original Airport is  {{origination}}</p>
<p>The destination Airport is  {{destination}}</p>
<p>The travel date is {{date}}</p>
<p>The total price is {{price}}</p>
